BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
AlignOperands: Align
AlignEscapedNewlines: Right
AlignTrailingComments: true
#  Kind: Always
#  OverEmptyLines: 1
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakBeforeMultilineStrings: true
AllowShortLambdasOnASingleLine: All
AllowShortEnumsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlignArrayOfStructures: Right
AlignConsecutiveBitFields: Consecutive
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: MultiLine
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  BeforeWhile: false
  AfterEnum: false
  AfterExternBlock: false
  AfterStruct: false
  AfterFunction: false
  AfterNamespace: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
BinPackArguments: false
BinPackParameters: false
BreakStringLiterals: true
BitFieldColonSpacing: Both
BreakBeforeConceptDeclarations: Never
#BreakBeforeInlineASMColon: OnlyMultiline
ColumnLimit: 120
CompactNamespaces: false
ContinuationIndentWidth: 8
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
FixNamespaceComments: true
IndentCaseLabels: true
IndentCaseBlocks: false
IndentPPDirectives: BeforeHash
IncludeBlocks: Regroup
IncludeIsMainSourceRegex: (\.ipp)$
IndentWidth: 4
IndentRequiresClause: true
RequiresClausePosition: WithPreceding
#RequiresExpressionIndentation: OuterScope
IndentAccessModifiers: false
IndentExternBlock: NoIndent
LambdaBodyIndentation: Signature
IndentGotoLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
MacroBlockBegin: "BEGIN(.+)?_NAMESPACE"
MacroBlockEnd: "END(.+)?_NAMESPACE"
NamespaceIndentation: All
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PointerAlignment: Right
PackConstructorInitializers: CurrentLine
QualifierAlignment: Custom
QualifierOrder: [ 'static', 'inline', 'constexpr', 'const', 'volatile', 'type', 'restrict' ]
ReflowComments: true
ReferenceAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCaseColon: false

Cpp11BracedListStyle: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 3
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SortIncludes: CaseInsensitive
SortUsingDeclarations: true
SeparateDefinitionBlocks: Leave
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
TabWidth: 4
UseTab: AlignWithSpaces
PenaltyBreakComment: 1
PenaltyBreakBeforeFirstCallParameter: 10
PenaltyExcessCharacter: 175
PenaltyBreakString: 100
PenaltyBreakAssignment: 150
PenaltyBreakFirstLessLess: 200
PenaltyBreakTemplateDeclaration: 300
PenaltyReturnTypeOnItsOwnLine: 400
PenaltyBreakOpenParenthesis: 500
ShortNamespaceLines: 2
Standard: Latest
UseCRLF: false
